<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="nadeem" translate="label" sortOrder="999">
			<label>Nadeem</label>
		</tab>
		<section id="instagram_feed" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Instagram Feed</label>
			<tab>nadeem</tab>
			<resource>Nadeem_Instagram::config_nadeem_instagram</resource>
			<group id="configuration" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Configuration</label>
				<field id="is_enable" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="access_token" type="text" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Access Token</label>
					<comment/>
					<depends>
						<field id="instagram_feed/configuration/is_enable">1</field>
					</depends>
				</field>
				<field id="heading_text" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Heading Text</label>
					<comment/>
					<depends>
						<field id="instagram_feed/configuration/is_enable">1</field>
					</depends>
				</field>
			</group>
		</section>
	</system>
</config>
